<%- include("partials/_header") %>

<body class="sub_page">

  <%- include("partials/_navigation") %>

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          REGISTER
        </h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" placeholder="First Name" />
              </div>
              <div>
                <input type="text" placeholder="Last Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div class="btn_box">
                <button>
                  REGISTER
                </button>
                <button type="submit"><a href="/login">DO YOU HAVE AN ACCOUNT?</a>                 
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="col-md-6 ">
          <!-- <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div> -->
        </div> 
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <%- include("partials/_footer") %>